.hanchor:link {
	text-decoration: none;
	color:silver ;
}

.hanchor:visited {
	text-decoration: none;
	color:silver ;
}

.hanchor:hover { 
	visibility: visible;
	color:gray !important;
}

body{
	background-color: #303030;
}

.mid-gray{
	color: lightgrey;
}

.light-silver{
	color: lightgrey;
}

article a{
	color: hotpink;
}

.nested-img img {
	max-height: 250px;
	width: auto;
}