{{ $featured_image := partial "func/GetFeaturedImage.html" . }}
<article class="bb b--black-10">
  <div class="db pv1 ph3 ph0-l no-underline mid-gray">
    <a href="{{.Permalink}}" class="color-inherit link">
      <div class="flex flex-column flex-row-ns" style="height: 80px;">
        <div class="blah w-100{{ if $featured_image }} w-80-ns pl3-ns{{ end }}">
          <h1 class="f3 fw1 sans-serif mt0 lh-title dim">
            {{ .Title }}
          </h1>
          <!--
          <a href="{{.Permalink}}" class="ba b--moon-gray bg-light-gray br2 color-inherit dib f7 hover-bg-moon-gray link mt2 ph2 pv1">{{ $.Param "read_more_copy" | default (i18n "readMore") }}</a>
          -->
        </div>
        {{ if $featured_image }}
          {{ $image := resources.Get $featured_image }}
          {{ $image := $image.Resize "x128 q50 jpg" }}

            {{/* Trimming the slash and adding absURL make sure the image works no matter where our site lives */}}
            {{/* $featured_image := (trim $featured_image "/") | absURL */}}
          
          <div class="pr1-ns mb1 mb0-ns w-100 w-20-ns">
            <img src="{{ $image.Permalink }}" alt="image from {{ .Title }}" 
              style="height:100%;width:100%;object-fit:contain;object-position:right;"/>
          </div>
        {{ end }}
      </div>
    </a>
  </div>
</article>
